<nav class="navbar navbar-default drop-shadow">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="dashboard">Road Incident Data System</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {{ ctl.stateSelected.label }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="nav-page-item" ng-repeat="navState in ctl.availableStates">
                            <a ng-click="ctl.onStateSelected(navState)">
                                {{ navState.label }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" ng-if="ctl.recordTypesVisible">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {{ ctl.recordTypeSelected.plural_label }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="nav-rt-item" ng-repeat="recordType in ctl.recordTypeResults | orderBy:'plural_label'">
                            <a ng-click="ctl.onRecordTypeSelected(recordType)">
                                {{ recordType.plural_label }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {{ ctl.geographySelected.label }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="nav-rt-item" ng-repeat="geography in ctl.geographyResults | orderBy:'label'">
                            <a ng-click="ctl.onGeographySelected(geography)">
                                {{ geography.label }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {{ ctl.getBoundaryLabel(ctl.boundarySelected) }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="nav-rt-item" ng-repeat="boundary in ctl.boundaryResults | orderBy:ctl.getBoundaryLabel">
                            <a ng-click="ctl.onBoundarySelected(boundary)">
                                {{ ctl.getBoundaryLabel(boundary) }}
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">My Account <span class="glyphicon glyphicon-option-vertical"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="ctl.navigateToStateName('account')">My Account</a></li>
                        <li><a> Manage Duplicate Records</a></li>
                        <li><a> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<driver-filterbar ng-if="ctl.isFilterPage"></driver-filterbar>
