bind = '127.0.0.1:8000'
workers = {{ gunicorn_workers }}
accesslog = '-'
errorlog = '{{ app_log }}'

{% if developing_or_testing -%}
reload = True
loglevel = 'debug'
{% else %}
reload = False
loglevel = 'info'
{% endif %}
