development: {% if developing_or_testing %}true{% else %}false{% endif %}

{#
    Above newline necessary because template engine does not add a newline
    when the line ends in a template tag
#}
ashlar_db_host: "{{ database_host }}"
ashlar_db_port: "{{ postgresql_port }}"
ashlar_db_user: "{{ postgresql_username }}"
ashlar_db_password: "{{ postgresql_password }}"
ashlar_database: "{{ postgresql_database }}"
ashlar_static_dir: "{{ root_static_dir }}"
ashlar_media_dir: "{{ root_media_dir }}"
