description "windshaft"

start on started docker
stop on stopping docker

kill timeout 20
kill signal CONT
respawn

pre-start script
  {% if 'development' in group_names -%}
  until mountpoint -q {{ root_windshaft_dir }}; do sleep 1; done
  {% endif %}

  /usr/bin/docker kill windshaft || true
  /usr/bin/docker rm windshaft || true

  {% if 'development' not in group_names -%}
  /usr/bin/docker pull quay.io/azavea/windshaft:0.1.0
  {% endif %}
end script

exec /usr/bin/docker run \
  --name windshaft \
  --publish 5000:5000 \
  --volume {{ root_windshaft_dir }}/driver.js:{{ root_windshaft_dir }}/driver.js \
  --volume {{ root_windshaft_dir }}/healthCheck.js:{{ root_windshaft_dir }}/healthCheck.js \
  --volume {{ root_windshaft_dir }}/alphamarker.png:{{ root_windshaft_dir }}/alphamarker.png \
  --volume {{ root_windshaft_dir }}/server.js:{{ root_windshaft_dir }}/server.js \
  {% for k,v in driver_conf.items() -%}
  --env {{ k }}='{{ v }}' \
  {% endfor -%}
  --log-driver syslog \
  quay.io/azavea/windshaft:0.1.0 server.js

post-stop script
  /usr/bin/docker kill windshaft || true
  /usr/bin/docker rm windshaft
  sleep 5
end script
