sudo: required

env:
  global:
  - secure: oxvGUv2yST/hlrbnRqbmQdRBCXZUm+71wXXBv4LgyB6lgI92VcGMeNn+3rJEsNCONbpzAtpRCdwkKcf6HG2Cvrb4DiUTj5mAho5lUxkjEj3NQR7K9XsbJ4lUFLhfrCbGCjDcSlPMB/6I4/N9KmKCEB9R76QxETddaKOhHzZB3Yk=
  - secure: ZhkaH7vzI3bpj8LvJv6rmCd4VmInxqT2b30HsvKRYDCC8PhkXqvLadEaBH3bNBQJsRYjLwf0ueaEclxiEwOElaspJkQdzb7tfRtqvNJEzY8jatVgIwc04uG2Wa+ZYGhjYHbQUbQGxwhMnh6C1XrtDtBi5BD9wIUhTle1ciELt5A=
  - secure: TQY7zkefoGIjIvcH6MqMTL9vZMJM7ZmbeyXr4scoB85LhxgRs50WhFAfFqKW4karZ9/iwZa86LniAIgc24OSJ62S0H0QuLjHzMlyyNDK0fTimPs9nkCNcQGIiNhgMftrAoA+U6fTdRHk4Nwg+GbRkPzZOm+QwJEtWe4cp5hrtf8=
  - secure: "I69EcUo9LOve4HK54qGLJPdgov3AopDsTCOGp+3GvWJg9CeOuHdU8N7Ym84Xe5U3KPtxMIHDq+DwOdOjo0Im9kfPU65mmKc8bmymVVyZxUAldDaUbUC7fquvFcejoADB5r62SH7PzV4duvZeLXtZz5awOUO2HvMoE4i6VdJKu4M="

language: bash

services:
  - docker

install:
  - docker build -f ./app/Dockerfile.base -t "quay.io/azavea/driver-app:${TRAVIS_COMMIT:0:7}" ./app
  - docker build -f ./schema_editor/Dockerfile -t "quay.io/azavea/driver-editor:${TRAVIS_COMMIT:0:7}" ./schema_editor
  - docker build -f ./web/Dockerfile -t "quay.io/azavea/driver-web:${TRAVIS_COMMIT:0:7}" ./web

script: .travis/script.sh

before_deploy:
  - docker login -e . -p "${QUAY_PASSWORD}" -u "${QUAY_USER}" quay.io
  - sudo pip install ansible==1.9.4
  - openssl aes-256-cbc -K "${encrypted_71b51a189c16_key}" -iv "${encrypted_71b51a189c16_iv}" -in deployment/driver.pem.enc -out deployment/driver.pem -d
  - export PATH="$PATH:$HOME/.rvm/bin"

deploy:
  provider: script
  script: .travis/deploy.sh
  skip_cleanup: true
  on:
    repo: WorldBank-Transport/DRIVER
    branch: develop

after_deploy:
  - rm deployment/driver.pem

notifications:
  slack:
    secure: RVtR2f3Q+hyW+JeXXsf6TyS1f5OQi7HW35jW+Auu/ET1VxOtQ/Swheiil26a8h6XtEC51YL+SiUhhiAxeKCMz31O33LZ3AsWjOC3ercIjDXDBPVYiYCsSpKoMGPm1/+FXjHnMzEPvIrOo2vA9hLk0QGr8fEiDZ/pHcUxmtVOmWc=
