<button id="record-type"
   role="button"
   ng-class="error.btnClasses"
   class="ng-binding btn btn-default dropdown-toggle"
   data-toggle="dropdown"
   aria-haspopup="true"
   aria-expanded="true">
  Date Range <span class="caret"></span>
</button>
<ul class="dropdown-menu alert date-range"
    ng-class="error.classes"
    role="menu"
    aria-labelledby="record-type"
    ng-click="$event.stopPropagation()">
    <li class="nav-rt-item ng-scope" role="menuitem">
        <span ng-show="isMinMaxValid()">Filter events by date of occurence.</span>
        <span ng-hide="isMinMaxValid()">Maximum must be at least as large as minimum value</span>
        <div class="ng-binding pull-right form-inline">
            <div class="input-group input-daterange">
                <input name="minimum"
                       id="dtMinField"
                       ng-model="dtMin"
                       ng-change="onDtRangeChange()"
                       type="text"
                       class="form-control date-range-style">
                <span class="input-group-addon">to</span>
                <input name="maximum"
                       id="dtMaxField"
                       ng-model="dtMax"
                       ng-change="onDtRangeChange()"
                       type="text"
                       class="form-control date-range-style">
            </div>
        </div>
    </li>
</ul>
