<div class="filterbar">
    <div class="pull-left">
        <input type="search" class="form-control" placeholder="Geographic code"></input>
        <ul class="nav navbar-nav">
            <li date-range-field class="dropdown"></li>
        </ul>
        <ul class="nav navbar-nav" ng-repeat="(key, value) in filterbar.filterables">
            <li ng-if="value.format === 'number'"
                numeric-range-field
                label="key"
                data="value"
                class="dropdown"></li>
            <li ng-if="value.fieldType === 'selectlist'"
                options-field
                label="key"
                data="value"
                class="dropdown">
            </li>
        </ul>
    </div>
    <div class="pull-right">
        <a class="btn btn-default"><span class="glyphicon glyphicon-star"></span> Saved Filters</a>
        <a class="btn btn-default" ui-sref="record.add()">
            Add New {{ filterbar.recordLabel }}
        </a>
    </div>
</div>
