<div class="filterbar drop-shadow">
    <div class="pull-left">
        <!-- TODO: add this back in when text search is implemented
        <input type="search" class="form-control" placeholder="Geographic code"></input>
        -->
        <ul class="nav navbar-nav">
            <li date-range-field class="dropdown"></li>
        </ul>
        <ul class="nav navbar-nav" ng-repeat="(key, value) in filterbar.filterables">
            <li ng-if="value.format === 'number'"
                numeric-range-field
                label="key"
                data="value"
                class="dropdown"></li>
            <li ng-if="value.fieldType === 'selectlist'"
                options-field
                label="key"
                data="value"
                class="dropdown">
            </li>
        </ul>
    </div>
    <div class="pull-right">
        <a ng-click="filterbar.showSavedFiltersModal()"
            class="btn btn-default btn-icon"
            tooltip-trigger
            tooltip-placement="left"
            tooltip="Saved Filters"><span class="glyphicon glyphicon-filter"></span></a>
        <a
            class="btn btn-default btn-icon"
            tooltip-trigger
            tooltip-placement="left"
            tooltip="Clear Filters"
            ng-click="filterbar.reset()"><span class="glyphicon glyphicon-remove"></span></a>
        <a
            ng-if="::filterbar.userCanAdd"
            class="btn btn-default btn-icon"
            tooltip-trigger
            tooltip-placement="left"
            tooltip="Add New Record"
            ui-sref="record.add()"><span class="glyphicon glyphicon-plus-sign"></span></a>
    </div>
</div>
