<button id="record-type"
   role="button"
   ng-class="error.btnClasses"
   class="ng-binding btn btn-default dropdown-toggle"
   data-toggle="dropdown"
   aria-haspopup="true"
   aria-expanded="true">
  {{ label | labelFormatter }} <span class="caret"></span>
</button>
<ul class="dropdown-menu alert"
    ng-class="error.classes"
    role="menu"
    aria-labelledby="record-type"
    ng-click="$event.stopPropagation()">
    <li class="nav-rt-item ng-scope" role="menuitem">
        <span ng-show="isMinMaxValid()">{{ 'RECORD.NUMERIC_FILTER' | translate }}</span>
        <span ng-hide="isMinMaxValid()">{{ 'ERRORS.INVALID_RANGE' | translate }}</span>
        <div class="ng-binding form-inline pull-right">
            <div class="input-group">
                <input type="number"
                       name="minimum"
                       placeholder="{{ 'COMMON.MIN' | translate }}"
                       min="{{ data.minimum }}"
                       max="{{ data.maximum }}"
                       ng-model="filter.min"
                       ng-change="updateFilter(label, filter)"
                       class="form-control num-range-style">
                <span class="input-group-addon">{{ 'COMMON.TO' | translate }}</span>
                <input type="number"
                       name="maximum"
                       placeholder="{{ 'COMMON.MAX' | translate }}"
                       min="{{ data.minimum }}"
                       max="{{ data.maximum }}"
                       ng-model="filter.max"
                       ng-change="updateFilter(label, filter)"
                       class="form-control num-range-style">
            </div>
        </div>
    </li>
</ul>
