<button id="record-type"
   role="button"
   ng-class="error.btnClasses"
   class="ng-binding dropdown-toggle btn btn-default"
   style="padding: 6px 12px;"
   data-toggle="dropdown"
   aria-haspopup="true"
   aria-expanded="true">
  {{ label | labelFormatter }} <span class="caret"></span>
</button>
<ul class="dropdown-menu alert number-range"
    ng-class="error.classes"
    role="menu"
    aria-labelledby="record-type"
    ng-click="$event.stopPropagation()">
    <li class="nav-rt-item ng-scope" role="menuitem">
        <span ng-show="isMinMaxValid()">Filter according to minimum and maximum values</span>
        <span ng-hide="isMinMaxValid()">Maximum must be at least as large as minimum value</span>
        <div class="ng-binding form-inline pull-right">
            <div class="input-group">
                <input type="number"
                       name="minimum"
                       placeholder="Minimum"
                       class="form-control"
                       style="width:50%;border-right:0;"
                       min="{{ data.minimum }}"
                       max="{{ data.maximum }}"
                       ng-model="filter.min"
                       ng-change="updateFilter(label, filter)"
                       class="form-control num-range-style">
                <span class="input-group-addon">to</span>
                <input type="number"
                       name="maximum"
                       placeholder="Maximum"
                       style="width:50%;"
                       class="form-control"
                       min="{{ data.minimum }}"
                       max="{{ data.maximum }}"
                       ng-model="filter.max"
                       ng-change="updateFilter(label, filter)"
                       class="form-control num-range-style">
            </div>
        </div>
    </li>
</ul>
