<div class="btn-group dropdown numrange open" dropdown="">
    <button id="record-type"
            type="button"
            ng-class="error.btnClasses"
            class="btn ng-binding dropdown-toggle"
            dropdown-toggle=""
            aria-haspopup="true"
            aria-expanded="true">
      {{ label }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu alert" ng-class="error.classes" role="menu" aria-labelledby="record-type">
        <li class="nav-rt-item ng-scope" role="menuitem">
            <span ng-show="isMinMaxValid()">Filter according to minimum and maximum values</span>
            <span ng-hide="isMinMaxValid()">Maximum must be at least as large as minimum value</span>
            <div class="ng-binding form-inline pull-right" style="padding:3px 20px">
                <div class="input-group">
                    <input type="number"
                           name="minimum"
                           placeholder="Minimum"
                           class="form-control"
                           ng-model="filter.min"
                           ng-change="updateFilter(label, filter)">
                    <input type="number"
                           name="maximum"
                           placeholder="Maximum"
                           class="form-control"
                           ng-model="filter.max"
                           ng-change="updateFilter(label, filter)">
                </div>
            </div>
        </li>
    </ul>
</div>
