<div class="form-area">
    <div class="col-sm-8 col-sm-offset-3">
        <div class="form-area-heading">
            <h2>Add New Related Content Type</h2>
            <div class="content-border"></div>
        </div>

        <form>
            <div class="form-group col-sm-6">
                <label for="single-title">Single Title</label>
                <input type="text" class="form-control" id="single-title" placeholder="Person">
            </div>
            <div class="form-group col-sm-6">
                <label for="plural-title">Plural Title</label>
                <input type="text" class="form-control" id="plural-title" placeholder="People">
            </div>
            <div class="form-group col-sm-12">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="5" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porta nunc id nisi consectetur tincidunt. Curabitur pulvinar quis lorem ac consequat."></textarea>
            </div>
        </form>
        <div class="save-area">
            <button type="button" class="btn btn-default">Save</button>
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>
</div>