<div class="form-area">
    <div class="col-sm-8 col-sm-offset-3">
        <ase-notifications></ase-notifications>
        <div class="form-area-heading">
            <h2>{{ ::rtSchemaEdit.schemaKey }}</h2>
            <div class="btn-group pull-right" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                    Add a field <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="(key, value) in rtSchemaEdit.fieldTypes">
                        <a ng-click="rtSchemaEdit.onEditorAddClicked(key)">{{ ::value }}</a>
                    </li>
                </ul>
            </div>
            <div class="content-border"></div>
        </div>
        <json-editor editor-id="{{ rtSchemaEdit.editor.id }}"
                     options="rtSchemaEdit.editor.options"
                     on-data-change="rtSchemaEdit.onDataChange"
                     class="form-area-body">
        </json-editor>
        <div class="save-area">
          <button type="button" class="btn btn-default"
              ng-click="rtSchemaEdit.onSaveClicked()">Save</button>
            <button type="button" class="btn btn-default"
                    ui-sref="rt.related({uuid: rtSchemaEdit.recordType.uuid })">Cancel</button>
            </div>
        </div>
    </div>
</div>
