<main class="all-event-types">
    <div class="content-types">
        <ul>
            <li class="active-parent in">
                <a>All Event Types</a>
                <ul>
                    <li><a ui-sref="rt.list">View all event types</a></li>
                    <li><a ui-sref="rt.add">Add a new event type</a>
                </ul>
            </li>
            <li class="active-parent in">
                <a>&#8212; Crimes</a>
                <ul>
                    <li><a ui-sref="rt.detail({uuid: 'abcd'})">View related content</a></li>
                    <li><a ui-sref="rt.detail({uuid: 'abcd'})">Add related content</a></li>
                </ul>
            </li>
            <li class="active-parent in">
                <a>&#8212; Accidents</a>
                <ul>
                    <li><a ui-sref="rt.detail({uuid: 'abcd'})">View related content</a></li>
                    <li><a ui-sref="rt.detail({uuid: 'abcd'})">Add related content</a></li>
                </ul>
            </li>
            <li class="active-parent in">
                <a>All Geographies</a>
                <ul>
                    <li class="active-page"><a ui-sref="boundary">View all geographies</a></li>
                    <li><a ui-sref="boundaryUpload">Add new geographies</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <ui-view></ui-view>
</main>