<tabset>
    <tab ng-repeat="definition in ctl.sortedDefinitions"
         heading="{{ definition.multiple ? definition.plural_title : definition.title }}"
         ng-init="properties = ctl.sortedProperties(definition.properties)">

        <driver-details-single
            data="::ctl.record.data[definition.propertyKey]"
            properties="::properties"
            record="::ctl.record"
            definition="::definition"
            ng-if="!definition.multiple">
        </driver-details-single>

        <driver-details-multiple
            data="::ctl.record.data[definition.propertyKey]"
            properties="::properties"
            record="::ctl.record"
            definition="::definition"
            ng-if="definition.multiple">
        </driver-details-multiple>
    </tab>
</tabset>
