<main class="dashboard no-filterbar">
    <div class="block block-1x2 quick-map">
        <div class="block-inner">
            <div class="map" driver-black-spots leaflet-map zoom-to-boundary></div>
            <h3>Black Spots by Severity
                <a ui-sref="map" class="small pull-right">
                    Analyze &amp; filter »
                </a>
            </h3>
        </div>
    </div>
    <div class="block block-1x2 quick-map">
        <div class="block-inner">
            <div class="map" leaflet-map recent-events zoom-to-boundary></div>
            <h3>{{ ctl.recordType.plural_label }} during the past two weeks
                <a ui-sref="map" class="small pull-right">
                    View all {{ ctl.recordType.plural_label | lowercase }} »
                </a>
            </h3>
        </div>
    </div>
    <div class="block block-1x1 insights">
        <driver-recent-proportions class=""></driver-recent-proportions>
    </div>
    <div class="block block-1x1 counts">
        <driver-recent-counts class=""></driver-recent-counts>
    </div>
    <div class="block block-2x1 toddow">
        <div class="block-inner">
            <driver-toddow chart-data="ctl.toddow"></driver-toddow>
            <h3>Time of Day, Day of Week: The Last 90 Days</h3>
        </div>
    </div>
    <div class="block block-2x1 filters">
        <driver-saved-filters compact="true"></driver-saved-filters>
    </div>
</main>
