development: {% if developing_or_testing %}true{% else %}false{% endif %}

{#
    Above newline necessary because template engine does not add a newline
    when the line ends in a template tag
#}
driver_db_host: "{{ database_host }}"
driver_db_port: "{{ postgresql_port }}"
driver_db_user: "{{ postgresql_username }}"
driver_db_password: "{{ postgresql_password }}"
driver_database: "{{ postgresql_database }}"
driver_static_dir: "{{ root_static_dir }}"
driver_media_dir: "{{ root_media_dir }}"
