description "driver-app"

{% if developing_or_testing -%}
start on (vagrant-mounted and started docker)
{% else -%}
start on (filesystem and started docker)
{% endif -%}
stop on stopping docker

kill timeout 20
kill signal CONT
respawn

pre-start script
  /usr/bin/docker kill driver-app || true
  /usr/bin/docker rm driver-app || true
end script

exec /usr/bin/docker run \
  --name driver-app \
  --publish 4000:4000 \
  --volume {{ root_static_dir }}:{{ root_static_dir }} \
  --volume {{ root_media_dir }}:{{ root_media_dir }} \
  {% if developing -%}
  --volume {{ root_app_dir }}:{{ root_app_dir }} \
  --volume /opt/ashlar:/opt/ashlar \
  --env "DJANGO_SETTINGS_MODULE=driver.settings_dev" \
  {% endif -%}
  {% for k,v in driver_conf.items() -%}
  --env {{ k }}={{ v }} \
  {% endfor -%}
  --log-driver syslog \
  quay.io/azavea/driver-app:latest

post-stop script
  /usr/bin/docker kill driver-app
  /usr/bin/docker rm driver-app
end script
