.add-new {
	form {
		background-color: transparent;
	}

	input[type="file"] {
		text-align: right;
	}

    map {
        height:300px;
    }

/* background-image in select doesn't work in Chrome */

	select#boundary-color option[value="Red"] {
		background-image: url(red.png);
		background-repeat: no-repeat;
		background-position: bottom left;
		padding-left: 30px;
	}

	select#boundary-color option[value="Blue"] {
		background-image: url(blue.png);
		background-repeat: no-repeat;
		background-position: bottom left;
		padding-left: 30px;
	}

	select#boundary-color option[value="Green"] {
		background-image: url(green.png);
		background-repeat: no-repeat;
		background-position: bottom left;
		padding-left: 30px;
	}

}

.input-group-addon.picker {
    cursor: pointer;
}

.constant-fields .date-picker {
    margin-top: 20px !important;
}
