.filterbar {
    padding: 9px 15px;
    background: white;
    width: 100%;
    z-index: 10;
    height: 52px;
    position: absolute;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;

    input[type="search"] {
        width: 240px;
        float: left;
        margin-right: 5px;
    }
}
