.filterbar {
    width: 100%;
    position: fixed;
    z-index: 8;
    top: 52px;
    height: 50px !important;
    padding: 8px 14px !important;

    input[type="search"] {
        width: 240px;
        float: left;
        margin-right: 5px;
    }

    .form-inline {
        width: 100%;
        height: 100%;
    }
    .dropdown-menu {
        padding: 15px;
        border-radius: 4px;
    }
}

.no-filterbar {
    top: 50px;
}

.active .filter-option {
    text-decoration: underline;
}