.form-inline .input-group > .form-control {

    &.num-range-style {
        width: 80px;
    }

    &.date-range-style{
        width: 180px;
    }
}

.saved-filters {
    form {
        background: none;
    }        
    h4 {
        margin-top: 0;
    }
    thead {
        font-weight: 700;
    }

    .divider {
        padding: 0 5px;
        opacity: 0.35;
    }
    .well {
        margin-top: 20px;

        .form-group {
            margin-right: 10px;
        }
    }
}

.calendars-popup {
    z-index: 1050;
}
