.filterbar {
    width: 100%;
    height: 50px;
    position: fixed;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);

    input[type="search"] {
        width: 240px;
        float: left;
        margin-right: 5px;
    }
}

div.navbar-default.filterbar {
    z-index: 8;
    top: 57px;
    height: 80px; // TODO: figure out how to set this properly

    .form-inline {
        width: 100%;
        height: 100%;
    }
}

.no-filterbar {
    top: 57px;
}
