.json-editor-form {

    .form-group {
        margin-top: 10px;
    }
    .save-area {
        display: block;
        position: fixed;
        top: 175px;
        width: inherit;
        max-width: 250px;
    }

    json-editor {
        > div > h3 {
            display: none;
        }

        > div > .well {
            background: none;
            border: none;
            padding: 0;
            box-shadow: none;
        
            > div > div > .row {
                margin: 0;

                > div {
                    min-height: 20px;
                    padding: 19px;
                    margin-bottom: 20px;
                    background-color: #f5f5f5;
                    border: 1px solid #e3e3e3;
                    border-radius: 0px;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

                    > h3 {
                        margin-bottom: 0;

                        .btn-group {
                            float: right;
                        }
                        span {
                            top: 3px;
                            position: relative;
                        }
                        
                        + p {
                            display: none;
                        }
                    }

                    &[data-schematype="array"] {
                        > .well.well-sm {
                            margin-top: 15px;
                            border: 1px solid #e3e3e3;
                            background: white;
                            
                            > .btn-group {
                                padding: 15px;
                                text-align: center;
                            }
                            > div > [data-schematype="object"] {
                                h3 {
                                    padding: 15px;
                                    font-size: 18px;
                                    font-weight: 400;
                                    border-bottom: 1px solid #CCC;
                                    height: 65px;
                                    margin-bottom: 0;

                                    span {
                                        position: relative;
                                        top: 8px;
                                    }
                                    .btn-group { 
                                        float: right; 
                                    }
                                    + p { 
                                        display: none; 
                                    }
                                }
                                .well.well-sm {
                                    margin: 0;
                                    padding: 15px;
                                    border-bottom: 1px solid #CCC;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .well {
        border-radius: 0;
    }
    .map {
        height:300px;
    }
    
    h3 {
        margin-top: 0;
    }
    label.required {
        &:after {
            content: ' *';
        }
    }

}
