.login-view {
    background: $light-gray;
    padding: 2.5%;
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 52px;

    .login-panel {
        max-width: 600px;
        background: white;
        top: 50px;
        margin: 0 auto 25px;
        position: relative;
        box-shadow: 0 4px 12px rgba(0,0,0,0.35);
        
        > section {
            display: none;
            padding: 20px;

            &.active {
                display: block;
            }
        }
    }

    form {
        background: none;
    }
    h6 {
        font-size: 14px;
        margin: 20px 0 0;
    }
    h1 {
        font-size: 30px;
        margin: 10px 0 10px;
    }
    p.lead {
        font-size: 18px;
    }
    .bootstrap-select {
        margin-bottom: 20px;
    }
    label {
        text-align: left;
    }
    hr {
        margin: 20px -20px;

        &.divider {
            margin: 30px auto;
            width: 25%;
            border-bottom: 10px solid $light-gray;
        }
    }
}
