.print-view {
    margin: 50px;
    max-width: 100%;

    @media print {
        margin: 0;
    }

    h1 {
        margin: 0 0 10px;

        @media print {
            font-size: 30px;
        }
    }
    h2 {
        margin: 0 0 25px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: gray;

        @media print {
            font-size: 14px;
        }
    }

    table {
        table-layout: fixed;

        th {
            font-size: 10px;
            font-weight: 700;
            text-align: right;
            text-transform: uppercase;
            border-bottom: 4px solid #ddd !important;

            &:first-of-type {
                width: 25%;
                text-align: left;
            }
            &:nth-child(2n) {
                background: $light-gray;
            }
        }
        td {
            font-size: 12px;
            text-align: right;

            &:first-of-type {
                text-align: left;
            }
            &:nth-child(2n) {
                background: $light-gray;
            }
        }
    }

    .assignment {
        margin-bottom: 20px;

        &:last-of-type { margin: 0; }

        .map {
            background: $light-gray;
            margin-right: 5%;
            width: 45%;
            height: 260px;
            display: inline-block;
            vertical-align: top;
        }
        .notes {
            display: inline-block;
            vertical-align: top;
            width: 48%;
        }
    }
}

@page {
    size: auto;
    margin: 10mm;
}
