.table-view {
    background: #f1f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 0;

    .table-view-container {
        margin: 25px;
        background: white;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    .overflow {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    .table {
        margin: 0;

        th {
            background: #ddd;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
