html {
	height: 100%;
}

body {
	font-weight: 300;
	height: 100%;
}


h5 {
	text-transform: uppercase;
	color: #555;

}

a {
	text-decoration: none;
	color: #000;
	&:hover {
		text-decoration: none;
		color: #999;
	}
}

.btn {
	border-radius: 20px;
}

label {
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 10px;
	color: #555;
}

.checkbox label {
	text-transform: initial;
	margin-top: 5px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

/* MAIN BODY */

main {
}

.form-area {
	position: relative;
	padding-top: 40px;
}

/* MAIN BODY HEADING */

.content-border {
	border-bottom: 3px solid #dedede;
	margin-bottom: 20px;
}

.form-area-heading {
	.btn {
		float: right;
		margin-top: -40px;
	}
}

.edit, .delete {
	color: #000;
	fill: #000;

	&:hover {
		color: #999;
		fill: #999;

	}
}

/* SAVE BUTTON AREA */

.save-area {
	margin: 25px 39%;
	display: inline-block;
	.btn {
		margin-right: 15px;
	}
}

/* CONSTANT FIELDS */

.constant-fields {
    position:relative;
    z-index:5;
}

/* DETAILS */

.value.image img {
    max-width: 100%;
    max-height: 150px;
}

.compact .value.image img {
    max-width: 100%;
    max-height: 70px;
}

.compact .value {
    font-size: 14px !important;
    padding: 0;
    margin: 0;
}

.value.color .rectangle {
    width: 200px;
    height: 100px;
}

.compact .value.color .rectangle {
    width: 125px;
    height: 25px;
}
