<div class="login-view">
    <div class="login-panel">
        <section class="sso active text-center">
            <form ng-submit="authenticate()" autocomplete="off">
                <h6>{{ 'COMMON.APP_BRAND' | translate }}</h6>
                <h1>{{ 'LOGIN.LOG_IN_TO_DRIVER' | translate }}</h1>
                <hr class="divider" />
                <div class="form-group" ng-class="{true: 'login-field-error', false: ''}[auth.failure]">
                    <label for="username" class="text-right-on-rtl">{{ 'LOGIN.USERNAME' | translate }}:</label>
                    <input type="text" id="username" class="form-control" ng-model="auth.username" />
                </div>
                <div class="form-group" ng-class="{true: 'login-field-error', false: ''}[auth.failure]">
                    <label for="password" class="text-right-on-rtl">{{ 'LOGIN.PASSWORD' | translate }}:</label>
                    <input type="password" id="password" class="form-control" ng-model="auth.password" />
                </div>

                <button type="submit" class="btn btn-default btn-lg">
                    {{ 'LOGIN.SIGN_IN' | translate }}
                </button>
                <hr ng-if="ssoClients && ssoClients.length" />
                <div class="row" ng-repeat="client in ssoClients">
                    <div class="col-12 loginmodal-field">
                        <a type="button" class="btn btn-default btn-lg"
                           ng-click="sso(client)">{{ 'LOGIN.LOG_IN_WITH' | translate }} {{ client }}</a>
                    </div>
                </div>
            </form>
            <alert ng-repeat="alert in alerts" type="alert.type">{{alert.msg}}</alert>
        </section>
    </div>
</div>
