description "nginx"

start on filesystem and started docker
stop on stopping docker

kill timeout 20
kill signal CONT
respawn

pre-start script
  /usr/bin/docker kill nginx || true
  /usr/bin/docker rm nginx || true
end script

script
  /usr/bin/docker run \
    --name nginx \
    --publish 80:80 \
    --link driver-app:driver-app \
    --volume /etc/nginx/conf.d:/etc/nginx/conf.d:ro \
    --log-driver syslog \
    nginx:1.9
end script

post-stop script
  /usr/bin/docker kill nginx
  /usr/bin/docker rm nginx
end script
