server {

{% if staging or production %}
    ssl on;
    listen 443 default_server ssl;
    ssl_certificate {{ letsencrypt_cert_root }}/fullchain.pem;
    ssl_certificate_key {{ letsencrypt_cert_root }}/privkey.pem;
    include {{ letsencrypt_options_ssl_nginx_path }};
    ssl_dhparam {{ letsencrypt_dhparams_path }};
{% else %}
   listen 80 default_server;
{% endif %}

    server_name {{ nginx_server_name }};
    root {{ web_build_dir }};
    index index.html;

    access_log /var/log/nginx/driver-app.access.log logstash_json;

    client_max_body_size 10m;

    location / {
        proxy_set_header   Host $http_host;
        proxy_set_header   X-Forwarded-Host $host;
        proxy_set_header   X-Forwarded-Server $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header   Authorization $http_authorization;
        proxy_pass_header  Authorization;

        try_files $uri $uri/ =404;
    }

    location /editor/ {
        alias {{ editor_build_dir }}/;

        proxy_set_header   Host $http_host;
        proxy_set_header   X-Forwarded-Host $host;
        proxy_set_header   X-Forwarded-Server $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header   Authorization $http_authorization;
        proxy_pass_header  Authorization;

        try_files $uri $uri/ =404;
    }

    location /api/ {
        proxy_pass http://localhost:4000;
        proxy_read_timeout 40s;
        proxy_redirect     off;
        proxy_set_header   Host $http_host;
        proxy_set_header   X-Forwarded-Host $host;
        proxy_set_header   X-Forwarded-Server $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        client_max_body_size 20M;
    }

    location /admin/ {
        proxy_pass http://localhost:4000;
        proxy_read_timeout 40s;
        proxy_redirect     off;
        proxy_set_header   Host $http_host;
        proxy_set_header   X-Forwarded-Host $host;
        proxy_set_header   X-Forwarded-Server $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
    }

    location /api-auth/ {
        proxy_pass http://localhost:4000;
        proxy_read_timeout 40s;
        proxy_redirect     off;
        proxy_set_header   Host $http_host;
        proxy_set_header   X-Forwarded-Host $host;
        proxy_set_header   X-Forwarded-Server $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header   Authorization $http_authorization;
        proxy_pass_header  Authorization;

    }

    location /api-token-auth/ {
        proxy_pass http://localhost:4000;
        proxy_read_timeout 40s;
        proxy_redirect     off;
        proxy_set_header   Host $http_host;
        proxy_set_header   X-Forwarded-Host $host;
        proxy_set_header   X-Forwarded-Server $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header   Authorization $http_authorization;
        proxy_pass_header  Authorization;

    }

    location /openid/ {
        proxy_set_header Host $http_host;
        proxy_pass http://localhost:4000;
        proxy_read_timeout 40s;
        proxy_redirect     off;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
    }

    location /static/ {
        root {{ root_www_dir }}/;
    }

    location /media/ {
        root {{ root_www_dir }}/;
    }

    location /download/ {
        proxy_pass http://{{ celery_host_address }}/;
        proxy_read_timeout 40s;
        proxy_redirect     off;
        proxy_set_header   Host $http_host;
        proxy_set_header   X-Forwarded-Host $host;
        proxy_set_header   X-Forwarded-Server $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
    }

    location /tiles/ {
        proxy_pass http://localhost:5000;
        proxy_read_timeout 40s;
        proxy_redirect     off;
        proxy_set_header   Host $http_host;
        proxy_set_header   X-Forwarded-Host $host;
        proxy_set_header   X-Forwarded-Server $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
    }
}

{% if staging or production %}
server {
    listen 80;
    server_name _;

    # Redirect all other http traffic to https
    location / {
       return 301 https://$host$request_uri;
    }
}
{% endif %}
