app ansible_ssh_host={{ app_server_ip }}
database ansible_ssh_host={{ database_server_ip }}
celery ansible_ssh_host={{ celery_server_ip }}

[app-servers]
app

[database-servers]
database

[celery-servers]
celery

[staging:children]
app-servers
database-servers
celery-servers
