<div class="duplicates-title drop-shadow"><h3>{{ 'MANAGEMENT.POTENTIAL_DUPLICATES' | translate }}</h3></div>
<div class="table-view">
    <div class="table-view-container">
        <div class="overflow">
            <table class="table">
                <thead>
                    <tr>
                        <th class="date">{{ 'RECORD.DATE_AND_TIME' | translate }}</th>
                        <th class="detail">{{ 'RECORD.LOCATION' | translate }}</th>
                        <th class="date">{{ 'RECORD.DATE_AND_TIME' | translate }}</th>
                        <th class="detail">{{ 'RECORD.LOCATION' | translate }}</th>
                        <!-- Resolve link -->
                        <th class="links"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dup in ctl.duplicates.results">
                        <td ng-repeat-start="record in [dup.record, dup.duplicate_record]" class="date">
                            {{ ::record.occurred_to | localizeRecordDate: 'numeric':'time' }}
                        </td>
                        <td ng-repeat-end class="detail">
                            {{ ::record.location_text }}
                        </td>
                        <td class="links">
                            <a ng-if="ctl.userCanWrite &amp;&amp; !dup.resolved"
                               ng-click="ctl.showResolveModal(dup)">
                                <span class="glyphicon glyphicon-pencil"></span> {{ 'MANAGEMENT.RESOLVE' | translate }}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pager">
                    <li class="previous" ng-if="ctl.duplicates.previous">
                        <a type="button" class="btn btn-default" ng-click="ctl.getPreviousDuplicates()">
                            <span aria-hidden="true">&larr;</span> {{ 'COMMON.PREVIOUS' | translate }}</a>
                    </li>
                    <li ng-if="ctl.duplicates.count" class="text-center">
                        <i>
                            {{ 'RECORD.SHOWING_RESULTS' | translate }}
                            {{ ctl.currentOffset + 1}} -
                            {{ ctl.currentOffset + ctl.duplicates.results.length }} {{ 'COMMON.OF' | translate }}
                            {{ ctl.duplicates.count }}
                        </i>
                    </li>
                    <li class="next" ng-if="ctl.duplicates.next">
                        <a type="button" class="btn btn-default" ng-click="ctl.getNextDuplicates()">
                            {{ 'COMMON.NEXT' | translate }} <span aria-hidden="true">&rarr;</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
