<div class="form-area">
    <div class="col-sm-12 col-sm-offset-3">
        <ase-notifications></ase-notifications>
        <div class="form-area-heading">
            <h2>System Settings</h2>
            <div class="content-border"></div>
        </div>

        <div class="form-area-body">
            <div class="col-sm-12">
                <label class="col-sm-2">
                    Black Spot severity threshold:
                </label>

                <input class="col-sm-1"
                       type="number"
                       min="0"
                       max="1"
                       step="0.05"
                       ng-model="SettingsList.blackSpotConfig.severity_percentile_threshold" />

                <button class="col-sm-1" ng-click="SettingsList.blackSpotSeverityUpdateClicked()">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>
