(function () {
    'use strict';

    // WARNING: This file is templated by ansible, any changes will be overridden on next provision
    // Modify this file in: `deployment/ansible/roles/driver.web/templates/editor-config-js.conf.j2`
    //
    // Note: This module is also mocked for Travis. If any changes are made to it, they should also
    // be made in: `schema_editor/test/mock/config.js`
    //
    // The web project loads the resources for this project, which includes this config.
    // The web app has its own config.js constant, which is why these are namespaced.

    var config = {
        debug: {% if 'development' in group_names %}true{% else %}false{% endif %},
        html5Mode: {
            enabled: {{ editor_js_html5mode }},
            prefix: '{{ editor_js_html5mode_prefix }}'
        },
        api: {
            hostname: '{{ editor_js_api_hostname }}',
            // These group names are defined server-side in settings.py
            groups: {
                admin: '{{ driver_admin_group }}',
                readOnly: '{{ driver_read_only_group }}',
                readWrite: '{{ driver_read_write_group }}'
            }
        }
    };

    angular.module('ase.config', [])
    .constant('ASEConfig', config);
})();
