
(function () {
    'use strict';

    // WARNING: This file is templated by ansible, any changes will be overridden on next provision
    // Modify this file in: `deployment/ansible/roles/driver.web/templates/web-config-js.conf.j2`
    //
    // Note: This module is also mocked for Travis. If any changes are made to it, they should also
    // be made in: `web/test/mock/config.js`

    var config = {
        debug: {% if developing %}true{% else %}false{% endif %},
        html5Mode: {
            enabled: {{ web_js_html5mode }},
            prefix: '{{ web_js_html5mode_prefix }}'
        },
        api: {
            hostname: '{{ web_js_api_hostname }}'
        }
    };

    angular.module('driver.config', [])
    .constant('Config', config);
})();
