<div class="tool graphs" ng-init="open = false" ng-class="{ 'open': open }">
    <div class="tool-tab" ng-click="open = !open" >
        <span class="glyphicon glyphicon-list-alt"></span> Graphs
    </div>
    <div class="tool-content" ng-init="activeChart = 'toddow'">
        <div class="graph-header">
            <span class="pull-right">
                <span class="graph-selector glyphicon glyphicon-th"
                      ng-click="activeChart = 'toddow'"
                      ng-class="{ 'active': activeChart === 'toddow' }">
                </span>

                <span class="graph-selector glyphicon glyphicon-stats"
                      ng-click="activeChart = 'stepwise'"
                      ng-class="{ 'active': activeChart === 'stepwise' }">
                </span>
            </span>
            <h4>Graphs</h4>
        </div>
        <hr />
        <div class="graph-content">
            <driver-toddow chart-data="ctl.toddow"
                           ng-show="activeChart === 'toddow'">
            </driver-toddow>

            <driver-stepwise chart-data="ctl.records"
                             ng-show="activeChart === 'stepwise'">
            </driver-stepwise>
        </div>
    </div>
</div>
