<div class="form-area">
    <div class="col-sm-8 col-sm-offset-3">
        <ase-notifications></ase-notifications>
        <div class="form-area-heading">
            <h2>{{ ::ctl.recordType.label }} input form</h2>
            <div class="content-border"></div>
        </div>
        <div class="constant-fields">
            <div class="col-md-12">
                <h3><span>Constant fields</span></h3>
                <p>These fields exist for every record.</p>
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Slug</label>
                                <input type="text" class="form-control" ng-model="ctl.slug" name="constant-slug">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Label</label>
                                <input type="text" class="form-control" ng-model="ctl.label" name="constant-label">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Location</label>
                                <input type="text" class="form-control" ng-model="ctl.geom" name="constant-geom">
                                <div leaflet-map driver-embed-map style="height:300px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Occured From</label>
                                <div class="input-group" id="datetimepicker-From">
                                    <input type="text" class="form-control"
                                        datetimepicker
                                        datetimepicker-options="{{ ctl.occuredFromOptions }}"
                                        ng-change="ctl.occuredFromChanged()"
                                        ng-model="ctl.occuredFrom"
                                        placeholder="From"
                                        name="constant-occuredFrom">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pull-right">
                            <div class="form-group">
                                <label class="control-label">Occured To</label>
                                <div class="input-group" id="datetimepicker-To">
                                    <input type="text" class="form-control"
                                        datetimepicker
                                        datetimepicker-options="{{ ctl.occuredToOptions }}"
                                        ng-change="ctl.occuredToChanged()"
                                        ng-model="ctl.occuredTo"
                                        placeholder="To"
                                        name="constant-occuredTo">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <json-editor editor-id="{{ ctl.editor.id }}"
                     options="ctl.editor.options"
                     on-data-change="ctl.onDataChange"
                     class="form-area-body">
        </json-editor>
        <div class="save-area">
            <button type="button" class="btn btn-default" ng-disabled="ctl.editor.errors.length > 0"
                    ng-click="ctl.onSaveClicked()">Save</button>
            <button type="button" class="btn btn-default"
                    ui-sref="home()">Cancel</button>
            </div>
        </div>
    </div>
</div>
