<div class="form-area">
    <div class="col-sm-8 col-sm-offset-3">
        <ase-notifications></ase-notifications>
        <div class="form-area-heading">
            <h2>{{ ::ctl.recordType.plural_label }} list</h2>
            <div class="content-border"></div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <!-- Base record properties -->
                  <th>Date &amp; Time</th>

                  <!-- Detail keys from current schema -->
                  <th ng-repeat="headerKey in ctl.headerKeys | limitTo : ctl.maxDataColumns">
                    {{ ::headerKey }}
                  </th>

                  <!-- View/Edit links -->
                  <!-- TODO: fill in links when the views are implemented -->
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="record in ctl.records.results">
                  <td class="date">
                    {{ ::record.occurred_to | date:'short' }}
                  </td>
                  <td class="detail" ng-repeat="headerKey in ctl.headerKeys | limitTo : ctl.maxDataColumns">
                    {{ ::record.data[ctl.detailsProperty][headerKey] }}
                  </td>
                  <td class="links">
                    <a href="#view">View</a> / <a href="#edit">Edit</a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div>
          <button ng-if="ctl.records.next" type="button" class="btn btn-primary pull-right"
                  ng-click="ctl.getNextRecords()">
            Next
          </button>
          <button ng-if="ctl.records.previous" type="button" class="btn btn-primary"
                  ng-click="ctl.getPreviousRecords()">
            Previous
          </button>
        </div>
        <div ng-if="ctl.records.count">
          <i>
            Showing results
            {{ ctl.currentOffset + 1}} -
            {{ ctl.currentOffset + ctl.records.results.length }} of
            {{ ctl.records.count }}
          </i>
        </div>
    </div>
</div>
