<div class="form-area">
    <div class="col-sm-8 col-sm-offset-3">
        <div class="form-area-heading">
            <h2>Add New Geography</h2>
            <div class="content-border"></div>
        </div>
        <div ng-switch="boundsAdd.uploadState">
            <div class="alert alert-info" role="alert" ng-switch-default>
                <span class="sr-only">Info:</span>
                Upload your zipped shapefile; once uploaded, select a primary field for display
            </div>
            <div class="alert alert-info" ng-switch-when="requesting">
                <span class="sr-only">Loading...:</span>
                Loading...
            </div>
            <div class="alert alert-danger" role="alert" ng-switch-when="upload-error">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ boundsAdd.errorText }}
            </div>
            <div class="alert alert-success" role="alert" ng-switch-when="upload-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span class="sr-only">Success:</span>
                Geography upload successful! Select a primary field below.
            </div>
            <div class="alert alert-success" role="alert" ng-switch-when="update-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span class="sr-only">Success:</span>
                Geography update successful!
            </div>
        </div>
        <form name="geoAddForm" ng-submit="" novalidate>
            <div class="form-group col-sm-12">
                <label for="boundary-label">Geography Label</label>
                <input type="text"
                       name="label"
                       ng-model="boundsAdd.boundaryFields.label"
                       class="form-control"
                       id="boundary-label"
                       placeholder="Manila"
                       required
                       ng-minlength="3"
                       ng-maxlength="64">
                <span ng-show="geoAddForm.label.$invalid && !geoAddForm.label.$span" class="help-block">Label is required</span>
                <span ng-show="geoAddForm.label.$error.minlength" class="help-block">Label too short</span>
                <span ng-show="geoAddForm.label.$error.maxlength" class="help-block">Label too long</span>
            </div>
            <div class="form-group col-sm-12">
                <label for="uploadShapefile">Geography Shapefile</label>
                <input type="file"
                       name="file"
                       class="form-control"
                       id="uploadShapefile"
                       ng-disabled="boundsAdd.uploadState==='upload-success'"
                       ng-model="boundsAdd.files"
                       ngf-select
                       ngf-drop
                       ngf-drag-over-class="dragover"
                       accept="application/zip"
                       ng-change="boundsAdd.shpInvalid=false;"
                       required>
                <p ng-show="boundsAdd.files.length < 1" class="help-block">A shapefile is required</p>
            </div>
            <div class="form-group col-sm-6">
                <label for="display-field">Display Field (select after upload)</label>
                <select class="form-control"
                        id="display-field"
                        ng-options="field for field in boundsAdd.fields"
                        ng-model="boundsAdd.boundaryFields.display_field"
                        ng-disabled="boundsAdd.uploadState!=='upload-success'">
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="boundary-color">Geography Color</label>
                <select class="form-control"
                        id="boundary-color"
                        ng-model="boundsAdd.boundaryFields.color"
                        ng-options="color for color in boundsAdd.colors"
                        ng-init="boundsAdd.boundaryFields.color = boundsAdd.boundaryFields.color || boundsAdd.colors[0]">
                </select>
            </div>
        </form>
        <div class="save-area">
            <button type="button"
                    class="btn btn-default"
                    ng-click="boundsAdd.cancel()">Cancel</button>
            <button type="button"
                    class="btn btn-default"
                    ng-show="!boundsAdd.fileUploaded"
                    ng-click="boundsAdd.geoUpload()"
                    ng-disabled="geoAddForm.$invalid">Upload</button>
            <button type="button"
                    class="btn btn-default"
                    ng-show="boundsAdd.fileUploaded"
                    ng-click="boundsAdd.geoUpdate()"
                    ng-disabled="geoAddForm.$invalid">Save</button>
        </div>
    </div>
</div>
