<div class="form-area">
    <div class="col-sm-8 col-sm-offset-3">
        <div class="form-area-heading">
            <h2>Add New Geographic Boundary</h2>
            <div class="content-border"></div>
        </div>

        <form>
            <div class="form-group col-sm-12">
                <label for="uploadShapefile">Upload Shapefile</label>
                <input type="file" class="form-control" id="uploadShapefile">
            </div>
            <div class="form-group col-sm-12">
                <label for="boundary-name">Boundary Name</label>
                <input type="text" class="form-control" id="boundary-name" placeholder="Person">
            </div>
            <div class="form-group col-sm-6">
                <label for="primary-field">Primary Field</label>
                <select class="form-control" id="primary-field">
                    <option value="People">People</option>
                    <option value="Places">Places</option>
                    <option value="Things">Things</option>
                    <option value="Ideas">Ideas</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="boundary-color">Boundary Color</label>
                <select class="form-control" id="boundary-color">
                    <option value="Red">Red</option>
                    <option value="Blue">Blue</option>
                    <option value="Green">Green</option>
                </select>
            </div>
        </form>
        <div class="save-area">
            <button type="button" class="btn btn-default">Save</button>
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>
</div>