---
- name: Create static files directory
  file: path={{ root_static_dir }}
        owner={{ driver_user }}
        group={{ driver_user }}
        mode=0775
        state=directory

- name: Create media files directory
  file: path={{ root_media_dir }}
        owner={{ driver_user }}
        group={{ driver_user }}
        mode=0775
        state=directory

- name: Build application Docker image
  command: >
    docker build
      -f {{ root_app_dir }}/Dockerfile.base
      -t driver/app:latest
      {{ root_app_dir }}

- name: Build application Docker image
  command: >
    docker build
      -f {{ root_app_dir }}/Dockerfile.development
      -t driver/app:latest
      {{ root_app_dir }}
  when: developing_or_testing

- name: Configure Driver application service definition
  template: src=upstart-app.conf.j2 dest=/etc/init/driver-app.conf
  notify:
    - Restart driver-app

- name: Ensure Driver application is running
  service: name=driver-app state=started

- name: Build Windshaft Docker image
  command: >
    docker build
      -f {{ root_windshaft_dir }}/Dockerfile
      -t driver/windshaft:latest
      {{ root_windshaft_dir }}

- name: Configure Windshaft service definition
  template: src=upstart-windshaft.conf.j2 dest=/etc/init/windshaft.conf
  notify:
    - Restart windshaft

- name: Ensure Windshaft application is running
  service: name=windshaft state=started

- name: Configure Nginx site
  template: src=nginx-app.conf.j2
            dest=/etc/nginx/sites-available/driver-app.conf
  notify:
    - Restart Nginx

- name: Enable Nginx site
  file: src=/etc/nginx/sites-available/driver-app.conf
        dest=/etc/nginx/sites-enabled/driver-app
        state=link
  notify:
    - Restart Nginx

- name: Run Django collectstatic
  command: >
    /usr/bin/docker exec -ti driver-app ./manage.py collectstatic --noinput

- name: Run Django migrations
  command: >
    /usr/bin/docker exec -ti driver-app ./manage.py migrate
  when: developing_or_testing

- name: Add OAuth2 default application
  command: >
    /usr/bin/docker exec -ti driver-app ./manage.py create_oauth_app admin
  when: developing_or_testing
