<div class="block-inner">
    <div class="report-content tab-content filters-table">
        <div ng-show="!filters.savedFilters.length">
            <i>No filters have been saved</i>
        </div>
        <table ng-show="filters.savedFilters.length" class="table table-hover">
            <thead ng-if="!filters.compact">
                <tr>
                    <td>Name</td>
                    <td>Filters</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sf in filters.savedFilters">
                    <td>
                        {{ ::sf.label }}
                    </td>
                    <td ng-bind-html="sf.filter_json | savedFilterAsHTML">
                    </td>
                    <td>
                        <a ng-click="filters.viewFilter(sf)">
                            View&nbsp;&raquo;
                        </a>
                    </td>
                    <td ng-if="!filters.compact">
                        <a ng-click="filters.deleteFilter(sf)">
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
